:root{
    --v1: #F4CAE0;
    --v2: #D7B9D5;
    --v3: #ADA7C9;
    --v4: #90A8C3;
    --v5: #64A6BD;
}

*{
    padding: 0;
    margin: 0;
    color: black;
}

html, body{
    background: url(../Imagenes/fondo.jpg);
}

.container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 1rem 6rem;
    border-radius: 10px;
    padding: 1rem;
    border: 2px solid var(--v4);
    background-color: var(--v2);
    width: 85%;
}

#regresar{
    border: none;
    min-width: 180px;
    height: 50px;
    background: var(--v3);
    color: white;
    border-radius: 100px;
    text-decoration: none;
    display: inline-flex;
    transition: .3s ease all;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem;
    margin-left: 44%;
}

#indice, #principal, h1, #principal2, #principal3{
    width: 100%;
    padding: 1rem;
}

@media (min-width: 800px){
    .container{
        padding: 20px;
        font-size: 1.2em;
    }
}

#indice{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-around;
}

#indice a{
    border: none;
    min-width: 180px;
    height: 50px;
    background: var(--v3);
    color: white;
    border-radius: 100px;
    text-decoration: none;
    display: inline-flex;
    transition: .3s ease all;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 0 1.5rem;
}

#principal, #principal2, #principal3{
    background-color: var(--v4);
    width: 100%;
    padding: 2rem 2rem;
}
h1{
    padding: 1rem;
    padding-right: 40%;
    background-color: var(--v5);
    font-size: 40px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: inline-flex;
}

#principal h3{
    font-size: 30px;
    text-align: center;
}

#pianito{
    padding-left: 27%;
}

#teclitas{
    float: right;
    padding: 1rem 4rem;
}

#historia{
    padding: 1rem;
    padding-right: 36%;
    background-color: var(--v5);
    font-size: 40px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: inline-flex;
}

#principal2 h3{
    text-align: center;
}

#principal2 ul{
    list-style-position: inside;
    padding-left: 3rem;
}

#florencia, #electronico{
    float: right;
    padding: 1rem 3rem;
}

#bluthner{
    float: left;
    padding: 1.5rem 3rem;
}

#ultimo{
    text-align: center;
}

video{
    padding-left: 25%;
}

#principal3{
    display: flex;
    align-items: center;
    justify-content: center;
}